@font-face {
    font-family: "Public Sans" ;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/PublicSans-Regular.ttf);
}
@font-face {
    font-family: "Public Sans" ;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/PublicSans-Bold.ttf);
}
@font-face {
    font-family: "DM Serif Display" ;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}
